#wrapper {
  display: flex;
  height: 100vh;
  flex-direction: row-reverse;
}

#sidebar {
  width: 20%;
  background: #ddd;
}

#map {
  flex: 1;
  position: relative;
}

#my-html{

  width: 15%;
  height: 20%;
  background-color: blue;
}
