#wrapper {
  display: flex;
  height: 100vh;
  flex-direction: row-reverse;
}

#sidebar {
  width: 20%;
  background: #ddd;
}

#map {
  flex: 1;
  position: relative;
}

#cityTag{
  display: flex;
  border-radius: 10px;
  flex-direction: column;
  width: 15%;
  height: 10%;
  background-color: blue;
}

#cityName{
  width: 100%;
  flex: 1;
  font-size: 10px;
  white-space: nowrap;     
  overflow: hidden;        
  text-overflow: ellipsis; 
}

#cityPrice{
  width: 100%;
  flex: 1;
}

#cityTravelButton{
  width: 80%;
  flex: 1;
}
