#wrapper {
  display: flex;
  height: 100vh;
  flex-direction: row-reverse;
}

#sidebar {
  width: 20%;
  background: #ddd;
}

#map {
  flex: 1;
  position: relative;
}

#cityTag{
  display: flex;
  border-radius: 10px;
  flex-direction: column;
  width: 15%;
  height: 10%;
  background-color: blue;
}

#cityName{
  width: 100%;
  flex: 1;
  font-size: 10px;
  white-space: nowrap;     
  overflow: hidden;        
  text-overflow: ellipsis; 
}

#cityPrice{
  width: 100%;
  flex: 1;
}

#cityTravelButton{
  width: 80%;
  flex: 1;
}

.login-page {
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
html, body{
    min-height:100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

body.loginbody {
    background-image: url('media/ttgbg.jpg');
}

body.storybody{
    background-image: url('media/mikostory.jpg');
}

.login-container {
    width: 200px;
}

.login-container input {
    display: block;
    background-color: #5C3A21;
    color: #FFFFFF;
    width: 100%;
}

.button-row {
    display: flex;
    justify-content: center;
}

.button-row button {
    background-color: #228B22;
    color: white;
}

#message {
    color: white;
    text-align: center;
    background: #228B22;
}

#message:empty {
    background: none;
}


