#wrapper {
  display: flex;
  height: 100vh;
  flex-direction: row-reverse;
}

#sidebar {
  width: 20%;
  background: #ddd;
}

#map {
  flex: 1;
  position: relative;
}

#cityTag{
  display: flex;
  border-radius: 10px;
  flex-direction: column;
  width: 15%;
  height: 10%;
  background-color: blue;
}

#cityName{
  width: 100%;
  flex: 1;
  font-size: 10px;
  white-space: nowrap;     
  overflow: hidden;        
  text-overflow: ellipsis; 
}

#cityPrice{
  width: 100%;
  flex: 1;
}

#cityTravelButton{
  width: 80%;
  flex: 1;
}

body.login-page {
    margin: 0;
    height: 100vh;
    overflow: hidden;
    background: url('media/ttgbg.jpg') no-repeat center center;
    background-size: contain;
}

.login-container {
    width: 200px;
    margin: auto;
    margin-top: 600px;
}

.login-container input {
    display: block;
    background-color: #5C3A21;
    color: #FFFFFF;
    width: 100%;
}

.button-row {
    display: flex;
    justify-content: center;
}

.button-row button {
    background-color: #228B22;
    color: white;
}

#message {
    color: red;
    text-align: center;
    background: white;
}

#message:empty {
    background: none;
}