html {
    font-family: Arial, sans-serif;
    scroll-behavior: smooth;
    background-color: #F1F2EB;
    height: 100%;
}

body{
    background-image: url("../images/gamblebg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    margin: 0;
}

h1 {
    margin-top: 0;
}

header {
text-align: center;
}

#results {
    padding: 3rem 0 5rem 0;
}

#cardfigure {
    padding:3rem 0 0 0;
    margin: 5rem 0 0 0;

}

figure p {
    text-align: center;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

#buttons {
    padding: 0 0 2rem 0;
    display: flex;
    width: 70%;
    margin: auto;
    justify-content: center;
    align-items: center;

}

button {
    text-align: center;
    width: 20%;
    display: flex;
    padding: 1rem 2rem 1rem 2rem;
    background-color: #228B22;
    color: white;
}

button:hover{
    background-color: #155715;
}

section {
    display: flex;
    margin: 5rem 16rem 0 16em;

}


.card {
    padding: 5rem 2rem 5rem 2rem;
    background-color: whitesmoke;
    width: 5%;
    margin: auto;
    text-align: center;
    border: 1px black solid;
    border-radius: 8px;
}




#one {
    margin: 0 3rem 0 3rem;

}

#two {
    margin: 0 3rem 0 3rem;

}
#three {
    margin: 0 3rem 0 3rem;

}

#four {
    margin: 0 3rem 0 3rem;

}

#five {
    margin: 0 3rem 0 3rem;

}

div {
    justify-content: center;
    align-items: center;
    text-align: center;
}

#continue {
    padding: 1rem 0 0 0;
    width: 10%;
    margin: auto;
    text-align: center;
    background-color: whitesmoke;
    color: black;
}

#continue:hover {
    background-color: lightgray;
}

#continue:hover {
    background-color: lightgray;
}