html {
    font-family: Arial, sans-serif;
    scroll-behavior: smooth;
    background-color: #F1F2EB;
    height: 100%;
}

body{
    background-image: url("../images/gamblebg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    margin: 0;
}

h1 {
    margin-top: 0;
}

button {
    background-color: #228B22;
    color: white;
}


header {
text-align: center;
}

figure {
    padding:15rem 0 0 0;

}

figure p {
    text-align: center;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

figure article {
    padding: 12rem 0 0 0;
    display: flex;
    width: 50%;
    margin: auto;
    justify-content: center;
    align-items: center;

}

input {
    text-align: center;
    width: 15%;
    display: flex;
    margin: 0 0 0 0;
}