html {
    font-family: Arial, sans-serif;
    scroll-behavior: smooth;
    background-color: #F1F2EB;

}

.container {
    background-color: darkgoldenrod;
}



header {
text-align: center;
}

figure {
    padding:15rem 0 0 0;

}

figure p {
    text-align: center;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

figure article {
    padding: 12rem 0 0 0;
    display: flex;
    width: 50%;
    margin: auto;
    justify-content: center;
    align-items: center;

}

input {
    text-align: center;
    width: 15%;
    display: flex;
    margin: 0 0 0 0;
}